#close-button{
    background-color: black;
}
#skill-list-item{
    width: 100px;
    height: 30px;
    background-color: purple;
    color:black
    
}
/* #skill-value{
    width: 100px;
    height: 30px;
    background-color: purple;
    color:black
} */